<div class="row">
  <div class="col p-0">
      <div class="bg-image vh-100" style="background-image: url('../../../assets/image/background.jpg')">
          <div id="home">
          <div class="jumbotron">
              <h1 class="display-4 text-white">Bedankt voor je aanvraag!</h1>
              <hr class="my-2">
              <p class="lead text-white">We gaan voor je aan de slag! Binnen 1 werkdag ontvang je van ons een email met een op maat gemaakte offerte. </p>
              <hr class="my-4">
              <button class="btn btn-primary btn-lg" (click)="BackToHame()">Terug naar Home</button>  
          </div>
      </div>
      </div>
  </div>
</div>