<footer class="footer bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4">
        <h4 class="mt-2">over ons</h4>
        <p>Een stap voor op de concurrentie met een website van Veka media. Op maat gemaakt, met het aller beste CMS ter wereld, WordPress. Zo maak je zelf snel aanpassingen aan de website, zonder enige technische kennis.Een stap voor op de concurrentie met een website van Veka media. Op maat gemaakt, met het aller beste CMS ter wereld, WordPress. Zo maak je zelf snel aanpassingen aan de website, zonder enige technische kennis</p>
      </div>
      <div class="col-md-6 mb-4">
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4 ">
            <h4 class="mt-2 ">Navigaties</h4>
            <ul class="symbol-list">
              <li>Home</li>
              <li>Portfolio</li>
              <li>Review</li>
            </ul>
          </div>
          <div class="col-md-4 mb-4 mt-2">
            <h4>Contact</h4>
            <ul class="symbol-list">
              <li>Hoorn</li>
              <li>1628AJ, Lijster</li>
              <li>Haben1414@gmail.com</li>
              <li>KVK: 83811362</li>
              <li>BTW: NL.003.874.000.B44</li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</footer>
