<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WebSheba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        
      </div>
    </div>
    <div class="row">
        <div class="col p-0">
          <div class="bg-image vh-100" style="background-image: url('../../../assets/image/background.jpg');">
            <!-- Content for the first div -->
            <h1>hello</h1>
          </div>
        </div>
      </div>
      
    <div class="row">
      <div class="col">
        <!-- Content for the remaining divs or containers -->
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  